body {
    color: blue; 
}
#index {
    background-image:url("http://i.imgur.com/071VtaD.jpg");
    width:100%;
}

body{

}

#dropdownMenu1{
   float: top;
}

#screenshot{
    width: 30%;
    float: right; 
 }
 .jumbotron{
     
 }